$color_1: black;
$color_2: black solid;
$font-family_1: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;


.card{


    &__1{
        margin-left: 50px;
        padding: 10px;
        display: inline-block;
	


    }

   &__title {
	color: $color_2;
	font-size: larger;
	font-weight: bold;
	font-family: $font-family_1;
}
   &__text {
	font-size: medium;
	font-family: $font-family_1;
}
   &__img {
	width: 250px;
	height: 250px;
	display: inline-block;
}
   &__btn{
	color: $color_1;
	font-weight: bold;
	font-family: $font-family_1;
}

}
