
.conteiner.publicidad {
	display: block;
	justify-content: space-between;
	object-fit: cover;
}
.imgp {
	display: inline-block;
	justify-content: space-between;
	width: 80px;
	height: 80px;
	margin-top: 20px;
	opacity: 0,1;
}
.titulofinal {
	margin-bottom: 30px;
}
