$color_1: black;
$color_2: black solid;
$font-family_1: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$background-color_1: #2948ff;


.inicio {
	font-family: $font-family_1;
	font-style: italic;
	color: $color_1;
	padding: 60px 0px;
	margin: auto;
	max-width: 1000px;
	overflow: hidden;
	text-align: center;
	flex-direction: row;
	margin-top: auto;
	margin: bottom 0px;
}
.textocenter{
	display: flex;
	flex-direction: row;
}
.textoinicio {
	font-family: $font-family_1;
	color: $color_1;	
	font-style: italic;
}
header {
	background-color: $background-color_1;
	position: fixed;
	display: sticky;
	width: 100%;
	margin-top: 0%;
	box-shadow: 0 0 15px rgb(0, 0, 0);
}
.b22 {
	font-family: $font-family_1;
	font-style: italic;
	color: $color_1;
	margin-top: 50px;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-around;
}
.photos {
	display: flex;
	justify-content: space-around;
}
body {
	background:#8FA2CA;
}

/*TABLA DE POSICIONES -INDEX/INICIO-*/
.tabladepI {
	width: 50%;
	margin-top: 50px;
	color: $color_1;
	font-family: $font-family_1;
	font-style: italic;
}
.tableI {
	font-family: $font-family_1;
	
	border: solid 1px lightblue;
	margin-top: 50px;
	color: white;
	background-color: black;
	box-shadow: 5px 5px 20px #0f1951;
	padding-left: 100px;
	padding-right: 100px;
	height: 610px;
	display: inline-block; 
	td {
		padding: 15px 30px 15px 30px;
		font-size: x-large;
		text-align: center;
		
	}
	.titulotabla{
		font-weight: 800px;
		border-bottom: solid 1px lightblue;
		
	}
}
.cuadradoI {
	display: flexbox;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}

/*GALERIA*/

.galeria {
	margin-top: 50px;
	margin-bottom: 50px;
	color: $color_1;
	font-family: $font-family_1;
	font-style: italic;
	
}
.fotogaleria {
	display: inline-block;
	justify-content: space-between;
	object-fit: cover;
	margin: 20px 20px;
}
.menu {
	display: inline-block;
}

.imgaleria{
	width: 1000px;
	height: 500px;
}
.img{
	border-radius: 10px;
	border-style:solid;
   
}

.img:hover{
	transform: scale(1.15);
}

/*FOOTER*/

.titulofinal {
	font-family: $font-family_1;
	font-size: 100px;
	margin-top: 50px;
}
.text-center {
	font-family: $font-family_1;
	color: $color_2;
	font-size: 40px;
}

/*IMAGENES PUBLICIDAD*/

.conteiner.publicidad {
	display: block;
	justify-content: space-between;
	object-fit: cover;
}
.imgp {
	display: inline-block;
	justify-content: space-between;
	width: 200px;
	height: 200px;
	margin-top: 50px;
	opacity: 0,1;
}

/*TABLA DE POSICIONES*/

.tabladep {
	width: 50%;
	margin-top: 50px;
	color: $color_1;
	font-family: $font-family_1;
	font-style: italic;
}
.table {
	font-family: $font-family_1;
	border: solid 1px lightblue;
	margin-top: 50px;
	color: white;
	background-color: black;
	box-shadow: 5px 5px 20px #0f1951;
	width: 480px;
	height: 585px;
	display: inline-block;
	td {
		padding: 10px;
		font-size: x-large;
		border-bottom: #8FA2CA;
		
		
	}
	thead {
		font-weight: 700;
	}
}
.cuadrado {
	display: flexbox;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}


/*FIXTURE*/

.fixture {
	width: 50%;
	margin-top: 50px;
	color: $color_1;
	font-family: $font-family_1;
}
.tableF {
	font-family: $font-family_1;
	border: solid 1px lightblue;
	margin-top: 50px;
	color: white;
	background-color: black;
	box-shadow: 5px 5px 20px #0f1951;
	width: 600px;
	height: 450px;
	display: inline-block;
	td {
		border-bottom: 1px solid black;
		padding: 10px;
		font-size: 20px;
	}
	thead {
		font-weight: 700;
	}
}
.cuadradoF {
	display: flexbox;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}

/* CARDS */


.card1 {
	margin-left: 50px;
	padding: 10px;
	display: inline-block;
}
.card1:hover{
	transform: scale(1.15);
}
.card-title {
	color: $color_2;
	font-size: larger;
	font-weight: bold;
	font-family: $font-family_1;
}
.card-text {
	font-size: medium;
	font-family: $font-family_1;
}
.card-img {
	width: 250px;
	height: 250px;
	display: inline-block;
}
.btn-card {
	color: $color_1;
	font-weight: bold;
	font-family: $font-family_1;
}
/*IMAGENES CARROUSEL -BASQUET2022-*/

.imgb22{
	width: 1000px;
	height: 500px;
	opacity: 0,5;
	margin-top: 100px;
	transition: 2s;
	
}
.titulocaroussel{
	color: black;
	background-color: #8FA2CA;
}
.textocaroussel{
	background-color: #8FA2CA;
	color: black;
}

/*CARROUSEL INDEX*/

.carouselindex{
	width: 1000px ;
	height: 500px ;
}
.carousel-item{
	z-index: -1;
}

/*TITULO Y SUB CARROUSEL B22*/
.btn:hover{
	transform: scale(1.15);
	background-color:#2948ff;
	
}

.fb-like{
    padding-left: 630px;
	margin-top: 10px;
}