$color_1: black;
$font-family_1: 'Bungee Spice';
$background-color_1: #2948ff;
$color_2: white;

/* RESPONSIVE MOBILE (iphone xr) *//*BASQUET2022.HMTL*/
@media screen and (max-width: 896px) {

	.navbar-toggler{
		background-color: rgb(50, 49, 49);
	}

	.TituloII {
		font-size: 35px;
		text-align: center;
		font-family: $font-family_1;
		color: $color_1;
		margin: 110px 60px 30px 0px;
		margin-left: 100px;
	}
	.conteiner-titulo {
		justify-content: center;
		text-align: center;
		display: flex;
		background-color: $background-color_1;
	}
	.logotitulo {
		display: inline-block;
		width: 85px;
		height: 85px;
		border-radius: 20%;
		margin-top: 130px;
		padding-bottom: 5px;
		margin-right: 100px;
	}
	.nav-link {
		&:hover {
			color: $color_1;
		}
	}
	.img {
		height: 100px;
		width: 100px;
	}
}
$color_1: black;
$font-family_1: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

@media screen and (max-width: 896px) {
	.fixture {
		width: 50%;
		margin-top: 50px;
		color: $color_1;
		font-family: $font-family_1;
	}
	.tableF {
		font-family: $font-family_1;
		border: solid 1px lightblue;
		margin-top: 20px;
		color: white;
		background-color: black;
		box-shadow: 5px 5px 20px #0f1951;
		width: 400px;
		height: 370px;
		display: inline-block;
		td {
			border-bottom: 1px solid black;
			padding: 10px;
			font-size: 15px;
		}
		thead {
			font-weight: 700;
		}
	}
	.cuadradoF {
		display: flexbox;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
	}

	.inicio {
		font-family: $font-family_1;
		color: $color_1;
		padding: 10px 0px;
		margin: auto;
		max-width: 100px;
		overflow: hidden;
		text-align: center;
		flex-direction: row;
		margin-top: 20px;
		margin: bottom 0px;
		font-size: large;
	}
	.textoinicio {
		font-family: $font-family_1;
		color: $color_1;
		text-align: center;
		font-size: small;
	}
	.b22 {
		font-family: $font-family_1;
		font-style: italic;
		color: $color_1;
		margin-top: 20px;
		margin-bottom: 50px;
		display: flex;
		justify-content: space-around;
		margin-bottom: 20px;
		font-size: large;
	}
	.card-text {
		font-size: medium;
		font-family: $font-family_1;
		text-align: start;
	}
	.card-img {
		width: 300px;
		height: 300px;
		display: inline-block;
	}

	.imgb22{
		width: 400px;
		height: 200px;
		opacity: 0,5;
		margin-top: 100px;
	}

  .carouselindex{
	width: 320px;
	height: 250px;
  }

	.titulocaroussel{
		color: black;
		background-color: #8FA2CA;
	}
	.textocaroussel{
		background-color: #8FA2CA;
		color: black;
	}
	.galeria {
		font-size: large;
		margin-top: 20px;
		margin-bottom: 20px;
		color: $color_1;
		font-family: $font-family_1;
	}
	.fotogaleria {
		display:inline-block;
		justify-content: space-around;
		object-fit: cover;
		margin: 20px 20px;
	}
    .imgaleria{
		width: 400px;
		height: 200px;
	}
	.tablatitulo {
		font-family: $font-family_1;
		font-size: large;
	}
	.table {
		td {
			padding: 5px;
			font-size: large;
			justify-content: space-between;
		
			

		}
		font-family: $font-family_1;
		border: solid 1px white;
		margin-top: 50px;
		color: white;
		background-color: black;
		box-shadow: 5px 5px 20px #0f1951;
		width: 400px;
		height: 345px;
		display: inline-block;
		text-align: center;
	}
	.cuadradoI {
		display: flexbox;
		flex-wrap: wrap;
		text-align: center;
		justify-content: center;
		
	}
	.tabladepI {
		width: 50%;
		margin-top: 20px;
		color: $color_1;
		font-family: $font-family_1;
		font-size: small;
	}
	.tableI {
		td{border-bottom: none;
			padding: 5px 3px 5px 3px;

		}
		font-family: $font-family_1;
		margin-top: 20px;
		
		color: white;
		background-color: black;
		box-shadow: 5px 5px 20px #0f1951;
		padding-left: 10px; ;
		padding-right: 10px;
		width: 100%;
		height: 500px;
		display: inline-block;
		font-size: medium;
	}
}

@media screen and (max-width: 896px) {

	.conteiner.publicidad {
		display: block;
		justify-content: space-between;
		object-fit: cover;
	}
	.imgp {
		display: inline-block;
		justify-content: space-between;
		width: 1px;
		height: 1px;
		margin-top: 20px;

	}
	.titulofinal {
		margin-bottom: 30px;
	}

	.titulocaroussel{
		font-size: x-small;
	}
	.textocaroussel{
		font-size: smaller;
	}
}
